$font-family-base: 'Roboto', sans-serif;

$color-bg-body: #f5f6fa;
$color-header-bg: #182C61;
$color-menu-link: #ffffff;

$color-product-button: #44bd32;
$color-product-button-hover: #4cd137;

$container-max-width: 1024px;
$section-padding-y: 56px;

$logo-width: 120px;
$logo-max-width: 140px;