* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Bloco: produtos (container/lista) */
.produtos {
  max-width: 640px;
  width: 100%;
  margin: 56px auto;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-column-gap: 1%;
}

/* Elemento do bloco produtos (item da lista) */
.produtos__item {
}

/* Bloco: produto (card) */
.produto {
}

/* Elementos do bloco produto */
.produto__imagem {
  width: 100%;
}

.produto__nome {
  font-size: 1.2em;
  margin: 8px 0;
}

.produto__descricao {
  color: gray;
}

/* Modificador do bloco produto */
.produto--destaque {
  border: 2px solid gold;
  padding: 8px;
  background-color: #ffff42;
}
